acres 
aiofiles 
aiohappyeyeballs 
aiohttp 
aiosignal 
aiosqlite 
annotated-types 
anyio 
appdirs 
asgiref 
asttokens 
attrs 
auth0-python 
Automat 
backoff 
bcrypt 
beautifulsoup4 
blinker 
build 
cache 
CacheControl 
cachetools 
certifi 
cffi 
charset-normalizer 
chroma-hnswlib 
chromadb 
ci-info 
cleo 
click 
colorama 
coloredlogs 
configobj 
configparser 
constantly 
crashtest 
Crawl4AI 
crewai 
cryptography 
cssselect 
dataclasses-json 
decorator 
defusedxml 
Deprecated 
distlib 
distro 
docstring_parser 
dulwich 
durationpy 
et_xmlfile 
etelemetry 
executing 
fake-http-header 
fastapi 
fastjsonschema 
filelock 
fitz 
flatbuffers 
frozenlist 
fsspec 
gevent 
google-auth 
googleapis-common-protos 
greenlet 
grpcio 
h11 
httpcore 
httplib2 
httptools 
httpx 
httpx-sse 
huggingface-hub 
humanfriendly 
hyperlink 
idna 
importlib_metadata 
importlib_resources 
incremental 
iniconfig 
installer 
instructor 
ipython 
isodate 
itemadapter 
itemloaders 
jaraco.classes 
jedi 
Jinja2 
jiter 
jmespath 
joblib 
json5 
json_repair 
jsonpatch 
jsonpickle 
jsonpointer 
jsonref 
jsonschema 
jsonschema-specifications 
keyring 
kubernetes 
langchain 
langchain-community 
langchain-core 
langchain-text-splitters 
langsmith 
litellm 
looseversion 
lxml 
markdown-it-py 
MarkupSafe 
marshmallow 
matplotlib-inline 
mdurl 
mmh3 
mockito 
monotonic 
more-itertools 
mpmath 
msgpack 
multidict 
mypy-extensions 
networkx 
nibabel 
nipype 
nltk 
numpy 
oauthlib 
onnxruntime 
openai 
openpyxl 
opentelemetry-api 
opentelemetry-exporter-otlp-proto-common 
opentelemetry-exporter-otlp-proto-grpc 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation 
opentelemetry-instrumentation-asgi 
opentelemetry-instrumentation-fastapi 
opentelemetry-proto 
opentelemetry-sdk 
opentelemetry-semantic-conventions 
opentelemetry-util-http 
orjson 
overrides 
packaging 
pandas 
parsel 
parso 
pathlib 
pdfminer.six 
pdfplumber 
pexpect 
pillow 
pkginfo 
platformdirs 
playwright 
pluggy 
poetry 
poetry-core 
poetry-plugin-export 
posthog 
prompt_toolkit 
propcache 
Protego 
protobuf 
prov 
proxies 
psutil 
ptyprocess 
pure_eval 
puremagic 
pyasn1 
pyasn1_modules 
pycparser 
pydantic 
pydantic-settings 
pydantic_core 
PyDispatcher 
pydot 
pyee 
Pygments 
PyJWT 
pyOpenSSL 
pyparsing 
pypdfium2 
PyPika 
pyproject_hooks 
pyquery 
pyreadline3 
pytest 
pytest-mockito 
python-dateutil 
python-dotenv 
python-magic 
python-magic-bin 
pytz 
pyvis 
pywin32-ctypes 
pyxnat 
PyYAML 
queuelib 
rank-bm25 
RapidFuzz 
rdflib 
referencing 
regex 
requests 
requests-file 
requests-oauthlib 
requests-toolbelt 
rich 
rpds-py 
rsa 
scipy 
scrapingant-client 
Scrapy 
scrapy-splash 
serpapi 
service-identity 
setuptools 
shellingham 
simplejson 
six 
sniffio 
snowballstemmer 
soupsieve 
SQLAlchemy 
stack-data 
starlette 
sympy 
tenacity 
tf-playwright-stealth 
tiktoken 
tldextract 
tokenizers 
tomli 
tomli_w 
tomlkit 
tqdm 
traitlets 
traits 
trove-classifiers 
Twisted 
typer 
typing-inspect 
typing_extensions 
tzdata 
urllib3 
uv 
uvicorn 
virtualenv 
w3lib 
watchfiles 
wcwidth 
websocket-client 
websockets 
wrapt 
xxhash 
yarl 
zipp 
zope.event 
zope.interface 
